/* src/templates/TemplateDetalhesFilmePage.module.css */
.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.light-theme .detailsContainer {
  background-color: var(--card-bg-light);
  border: 1px solid var(--border-light);
}

.dark-theme .detailsContainer {
  background-color: var(--card-bg-dark);
  border: 1px solid var(--border-dark);
}


@media (min-width: 768px) {
  .detailsContainer {
    flex-direction: row;
    /* align-items: stretch; é o padrão, o que faz as colunas terem a mesma altura */
  }
}

.posterSection {
  flex: 1;
  max-width: 300px;
  margin: 0 auto;
  /* Adicionado para permitir que a imagem filha (poster) use 100% da altura */
  display: flex; 
}

.poster {
  width: 100%;
  /* A imagem agora ocupará 100% da altura do seu contêiner (.posterSection),
     que por sua vez tem a mesma altura da seção de informações (.infoSection) */
  height: 100%;
  /* 'contain' garante que a imagem inteira seja visível, sem distorção. */
  object-fit: contain; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.dark .poster {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.infoSection {
  flex: 2;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
}

.light-theme .infoSection p {
  color: #333;
  line-height: 1.6;
}
.dark-theme .infoSection p {
  color: #ddd;
  line-height: 1.6;
}

.infoSection p strong {
  font-weight: bold;
}

.light-theme .infoSection p strong {
  color: var(--text-light);
}
.dark-theme .infoSection p strong {
  color: var(--text-dark);
}